@model List<Exercie01Contacts.Models.Contact>

@{
    ViewData["Title"] = "Index";
}

<div class="container mt-4">
    <div class="text-center">
        <h1 class="display-4">Affichage de tous les contacts</h1>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameForInnerType((Contact model) => model.Id)</th>
                <th>@Html.DisplayNameFor(model => model.First().Name)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contact in Model)
            {
                <tr>
                    <td>@contact.Id</td>
                    <td>@contact.Name</td>
                    <td>
                        <a href="@Url.Action("Details", "Contacts", new { id = contact.Id })" class="btn btn-primary">Détails</a>
                    </td>
                </tr>
            }
        </tbody>     
    </table>
    <br />
    <a href="@Url.Action("Add", "Contacts")" class="btn btn-primary">Ajouter un contact</a>
    <br />
</div>
